<ion-view view-title="Einnahme Bestätigen">
    <ion-nav-bar class="bar-stable">
        <ion-nav-back-button hide-back-button="true"></ion-nav-back-button>
    </ion-nav-bar>
	<ion-content>      
        <button class="button button-block button-positive" ng-click="einnahmeBestaetigen()">
            Bestätigen
        </button>
        <button class="button button-block button-positive" ng-click="einnahmeAblehnen()">
            Ignorieren
        </button>
        <button class="button button-full button-positive" ng-click="einnahmeVerschieben()">
			Verschieben
        </button> 
    </ion-content>
</ion-view>