<ion-view view-title="MEDIKIT">
    <ion-nav-bar class="bar-stable">
        <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>
	<ion-content> 
        <div class="card">
            <div class="item item-text-wrap">
                <strong>Bitte bestätigen Sie die Einahme des Medikamentes</strong>
            </div>
            <div class="item item-text-wrap">
                Bezeichnung: <strong>{{termin.mediname}}</strong>
            </div>
            <div class="item item-text-wrap">
                Menge: <strong>{{termin.einnahmemenge}}</strong>
            </div>
        </div>
             
        <button class="button button-block button-balanced icon-left ion-checkmark-circled" ng-click="einnahmeBestaetigen()">
            Bestätigen
        </button>
        <button class="button button-block button-assertive icon-left ion-close-circled" ng-click="einnahmeAblehnen()">
            Ignorieren
        </button>
        <button class="button button-block button-dark icon-left ion-minus-circled" ng-click="einnahmeVerschieben()">
			Verschieben
        </button> 
    </ion-content>
</ion-view>