<ion-view view-title="Einnahme Bestätigen">
    <ion-nav-bar class="bar-stable">
        <ion-nav-back-button hide-back-button="true"></ion-nav-back-button>
    </ion-nav-bar>
	<ion-content> 
        <div class="card">
            <div class="item item-divider">
                Einnahme Bestätigen
            </div>
            <div class="item item-text-wrap">
                Bitte bestätigen Sie die Einahme des Medikamentes 
            </div>
            <div class="item item-text-wrap">
                Bezeichnung: {{termin.mediname}}
            </div>
            <div class="item item-text-wrap">
                Menge: {{termin.medidosis}}
            </div>
        </div>
             
        <button class="button button-block button-dark" ng-click="einnahmeBestaetigen()">
            Bestätigen
        </button>
        <button class="button button-block button-dark" ng-click="einnahmeAblehnen()">
            Ignorieren
        </button>
        <button class="button button-block button-dark" ng-click="einnahmeVerschieben()">
			Verschieben
        </button> 
    </ion-content>
</ion-view>