<ion-view view-title="Medikamentenhistorie">
  <ion-content>
<div class="list list-inset">
  <label class="item item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="text" placeholder="Suche">
  </label>
</div>
<ion-toggle ng-model="nicht_genommen" toggle-class="toggle-balanced">nicht genommene Medikamente</ion-toggle>
von
<ionic-datepicker date="currentDate" min="minDate" max="maxDate" callback="datePickerCallback">
    <button class="button button-block button-positive"> {{ currentDate | date:'MMMM/dd/yyyy' }} </button>
</ionic-datepicker>

<ion-list>
    <ion-item ng-repeat="x in medicine">
       <i class="icon ion-checkmark-circled"></i> {{x}}
    </ion-item>
</ion-list>


  </ion-content>
</ion-view>
