<ion-modal-view>
  <ion-header-bar>  
    <div class="buttons">
        <button class="button button-icon ion-reply button-clear" ng-click="closeKontaktModal()"></button>
    </div> 
    
    <h1 class="title">Kontakt hinzufügen</h1>  
      
  </ion-header-bar>
	
	
	<ion-content class="has-header">
	    <form ng-submit="addKontakt()">
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">Kontaktart</span>
                        <select ng-model="selectedKontakt.kontaktArt">
                            <option value="notfallkontakt">Notfallkontakt</option>
                            <option value="arzt">Arzt</option>
                            <option value="apotheke">Apotheke</option>
                        </select>
                </label>
                 
                <div class="list">
                    
                        <label class="item item-input" ng-if="selectedKontakt.kontaktArt == 'notfallkontakt'">
                            <span class="input-label">Beziehungsart:</span>
                            <input type="text" ng-model="allKontaktperson.art" placeholder="Vater, Mutter, Bruder, Partner,...">
                            <!-- Verbesserung: Vordefinierte Werte per Combobox?-->
                        </label>
                        
                        <label class="item item-input" ng-if="selectedKontakt.kontaktArt == 'arzt'">
                            <span class="input-label">Arztart:</span>
                            <input type="text" ng-model="selectedKontakt.arztArt" placeholder="Allgemeinarzt, Orthopäde,...">
                            <!-- Verbesserung: Vordefinierte Werte per Combobox?-->
                        </label>
                        
                        <label class="item item-input">
                            <span class="input-label">Name:</span>
                            <input type="text" ng-model="selectedKontakt.name" placeholder="Nachname des Arztes">
                        </label>
                        
                        <label class="item item-input">
                            <span class="input-label">Straße:</span>
                            <input type="text" ng-model="selectedKontakt.strasse" placeholder="Hauptstraße 5">
                        </label>
                        
                        <label class="item item-input">
                            <span class="input-label">PLZ:</span>
                            <input type="text" ng-model="selectedKontakt.plz" placeholder="85049">
                        </label>
                        
                        <label class="item item-input">
                            <span class="input-label">Ort:</span>
                            <input type="text" ng-model="selectedKontakt.ort" placeholder="Ingolstadt">
                        </label>
                        
                        <label class="item item-input">
                            <span class="input-label">Telefon:</span>
                            <input type="text" ng-model="selectedKontakt.telefon" placeholder="0841 / 123 456">
                        </label>
                        
                        <label class="item item-input">
                        <span class="input-label">Email:</span>
                        <input type="text" ng-model="allKontaktperson.email" placeholder="mustermann@web.de"/> 
                        </label>
                </div>
                
				<label class="item">
				  <button class="button button-block button-positive" type="submit">Hinzufügen</button>
				</label>
				
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<pre>$scope.kontaktart: {{$scope.kontaktart}}</pre>
				<hr>
				<pre>allKontaktperson: {{allKontaktperson|json}}</pre>
            </div>
	    </form>
	</ion-content>
	
</ion-modal-view>