<ion-view view-title="Kontakte">

	<ion-nav-buttons side="secondary">
      <button class="button button-icon ion-android-add-circle button-clear" ng-click="kontakt_neu()"></button>
	</ion-nav-buttons>
	
	
	<ion-content class="has-header">
	
	<div class="list list-inset">
	
		<div class="item item-divider">Notfallkontakt</div>
			<div class="item"></div>
			
		<div class="item item-divider">Arzt</div>
			<div class="item"></div>
				
		<div class="item item-divider">Apotheke</div>
			<div class="item"></div>			
				
				
				
	</div>
	
</ion-view>