<ion-modal-view>
  <ion-header-bar class="bar-stable">  
    <div class="buttons">
        <button class="button button-icon ion-reply button-clear" ng-click="closeKontaktModal()"></button>
    </div> 
    
    <h1 class="title" ng-if="isNewKontakt">Kontakt hinzufügen</h1>  
	<h1 class="title" ng-if="!isNewKontakt">Kontakt bearbeiten</h1>  
      
  </ion-header-bar>
	
					 
	<ion-content class="has-header">
	    <form ng-submit="addKontakt()">
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">Kontaktart</span>
                        <select ng-model="selectedKontakt.kontaktArt">
                            <option value="notfallkontakt">Freunde/Familie</option>
                            <option value="arzt">Arzt</option>
                            <option value="apotheke">Apotheke</option>
                        </select>
                </label>
                 
                <div class="list">
                        <ion-toggle ng-model="selectedKontakt.notfallkontakt" toggle-class="toggle-dark">
                            Notfallkontakt
                        </ion-toggle>
                        <label class="item item-input" ng-if="selectedKontakt.kontaktArt == 'notfallkontakt'">
                            <span class="input-label">Beziehungsart:</span>
                            <input type="text" ng-model="selectedKontakt.kontaktBeziehung" placeholder="Vater, Mutter, Bruder, Partner,...">
                        </label>
                        
                        <label class="item item-input" ng-if="selectedKontakt.kontaktArt == 'arzt'">
                            <span class="input-label">Arztart:</span>
                            <input type="text" ng-model="selectedKontakt.arztArt" placeholder="Allgemeinarzt, Orthopäde,...">
                        </label>
                        
                        <label class="item item-input" ng-if="selectedKontakt.kontaktArt == 'notfallkontakt' || selectedKontakt.kontaktArt == 'arzt'">
                            <span class="input-label">Nachname:</span>
                            <input type="text" ng-model="selectedKontakt.nachname" placeholder="Nachname des Arztes">
                        </label>
                        
						 <label class="item item-input" ng-if="selectedKontakt.kontaktArt == 'notfallkontakt' || selectedKontakt.kontaktArt == 'arzt'">
                            <span class="input-label">Vorname:</span>
                            <input type="text" ng-model="selectedKontakt.vorname" placeholder="Vorname des Arztes">
                        </label>
						
						<label class="item item-input" ng-if="selectedKontakt.kontaktArt == 'apotheke'">
                            <span class="input-label">Name:</span>
                            <input type="text" ng-model="selectedKontakt.nachname" placeholder="Apothekenname">
                        </label>
						
                        <label class="item item-input">
                            <span class="input-label">Straße:</span>
                            <input type="text" ng-model="selectedKontakt.strasse" placeholder="Hauptstraße 5">
                        </label>
                        
                        <label class="item item-input">
                            <span class="input-label">PLZ:</span>
                            <input type="text" ng-model="selectedKontakt.plz" placeholder="85049">
                        </label>
                        
                        <label class="item item-input">
                            <span class="input-label">Ort:</span>
                            <input type="text" ng-model="selectedKontakt.ort" placeholder="Ingolstadt">
                        </label>
                        
                        <label class="item item-input">
                            <span class="input-label">Telefon:</span>
                            <input type="text" ng-model="selectedKontakt.telefon" placeholder="0841 / 123 456">
                        </label>
                        
                        <label class="item item-input">
							<span class="input-label">Email:</span>
							<input type="text" ng-model="selectedKontakt.email" placeholder="mustermann@web.de"/> 
                        </label>
                </div>
                
				
				  <button class="button button-block button-dark" type="submit" ng-if="isNewKontakt">Hinzufügen</button>
				  <button class="button button-block button-dark" type="submit" ng-if="!isNewKontakt">Bearbeitung speichern</button>
				  <!-- Oder per Backbutton erledigen lassen? // Bisher wird bei Aufruf des Backbuttons nichts gespeichert  -->
				
            </div>
	    </form>
		
		<label class="item" ng-if="!isNewKontakt">
			<button class="button button-block ion-trash-b button-assertive" ng-click="deleteKontakt(selectedKontakt)">Kontakt löschen</button>
		</label>
		
	</ion-content>
	
</ion-modal-view>