<ion-view view-title="Kontakte">

	<ion-nav-buttons side="secondary">
      <button class="button button-icon ion-android-add-circle button-clear" ng-click="kontakt_neu()"></button>
	</ion-nav-buttons>
	
	
	<ion-content class="has-header">
	
	<ion-list class="list list-inset">
	
		<ion-item class="item-divider" ng-click="kontakt_edit($index)">Notfallkontakt</ion-item>
			<div class="item" ng-repeat="x in kontaktperson">
			{{x.nachname}}
			</div>
			
		<ion-item class="item-divider">Arzt</ion-item>
			<div class="item"></div>
				
		<ion-item class="item-divider">Apotheke</ion-item>
			<div class="item"></div>	
          		
	</ion-list>
    
    <!-- Übergangsweise, wegen Unklarheit Headerbar-Navigation Button -->
    <button ng-click="kontakt_neu()">kontakt_neu()</button>
    
	</ion-content>
</ion-view>