<ion-view view-title="Medikamente"> 


    <ion-nav-buttons side="secondary">
        <button class="button button-icon ion-android-add-circle button-clear" ng-click="new_medi()">
        </button>
    </ion-nav-buttons>
    <ion-content>
        <ion-list class="list list-inset">

            <ion-item class="item-divider">
                <div class="row">
                    <div class="col">Bez.</div>
                    <div class="col" align="center">Dosier.</div>
                    <div class="col" align="center">Pck.gr.</div></div>
            </ion-item>
            <ion-item stype="display: inline-block" ng-repeat="medikament in medikamente" ng-click="edit_medi(medi)">
                <div class="row">
                <div class="col">{{medikament.bez}}</div>
                <div class="col" align="center">{{medikament.dosier}}</div>
                <div class="col" align="center">{{medikament.pck_gr}}</div>
                </div>
            </ion-item>
        </ion-list>
        </ion-content>
    </ion-view>
