<ion-modal-view>
  <ion-header-bar>  
    <div class="buttons">
        <button class="button-icon ion-reply balanced" ng-click="addEinnahme()"></button>
    </div> 
    
    <h1 class="title">Medi-Einnahme {{einnahme.mediname}}</h1> 
      
    <div class="buttons">
      <button ng-if=!isNewEin class="button-icon ion-trash-b assertive" ng-click="deleteMediEinnahme(einnahme.id)"></button>
      <button ng-if=isNewEin class="button-icon ion-close-round assertive" ng-click="deleteMediEinnahme(einnahme.id)"></button>

    </div>
  </ion-header-bar>
  
  <ion-content >
    <form name="einnahmeForm" novalidate>
      <div class="list">
        <label class="item item-input">
          <span class="input-label col col-50" >Medikament</span>
              <select class="col"name="Fmed" ng-model="einnahme.med" required autofocus>
                 <option ng-repeat="med in mediData" value="{{med}}" ng-selected="med.mediname == einnahme.mediname">{{med.mediname}}</option>
              </select>
           <span class="col" style="color:red" ng-show="einnahmeForm.Fmed.$invalid">     
             <span ng-show="einnahmeForm.Fmed.$error.required"> *</span>
          </span>
        </label>
   
        <label class="item item-input">
          <span class="input-label col col-50">Einnahmemenge</span>
               <select class="col" name="Fmenge" ng-model="einnahme.einnahmemenge.menge" required autofocus>
                 <option>1/2</option>
                 <option selected>1</option>
                 <option>2</option>
              </select>
             <span style="color:red" class="col" ng-show="einnahmeForm.Fmenge.$invalid">
                <span ng-show="einnahmeForm.Fmenge.$error.required"> *</span>
             </span>              
        </label>
        
        <label class="item item-input">
          <span class="input-label col col-50">Einheit Menge</span>
              <select class="col" name="Feinheitmenge" ng-model="einnahme.einnahmemenge.einheit" ng-valid required autofocus>
                 <option>Tablette</option>
                 <option>ml</option>
                 <option>mg</option>
              </select>
         <span class="col" style="color:red" ng-show="einnahmeForm.Feinheitmenge.$invalid">     
          <span ng-show="einnahmeForm.Feinheitmenge.$error.required"> *</span>
         </span>
        </label>
        
        <label class="item item-input">
          <span class="input-label col col-50">Uhrzeit</span>
          <input class="col" name="Fuhrzeit" type="time" ng-model="einnahme.uhrzeit"  required autofocus>
          <span class="col" style="color:red" ng-show="einnahmeForm.Fuhrzeit.$invalid">
            <span ng-show="einnahmeForm.Fuhrzeit.$error.required"> *</span>
          </span>
        </label>
        
        <label class="item item-input">
          <span class="input-label col col-50">Wiederholung</span>
          <button class = "button button-clear" ng-click ="showPopup()"><div class="col" ng-bind="getDayname(einnahme.wiederholungstag)"></div></button>
        </label>
        
        <label class="item item-input">
          <span class="input-label col col-50">Einnahme Beginn</span>
          <input type="date" name="Fwiederholungsbeginn" ng-model="einnahme.wiederholungsbeginn">
          <span class="col" style="color:red" ng-show="einnahmeForm.Fwiederholungsbeginn.$invalid">
            <span ng-show="einnahmeForm.Fwiederholungsbeginn.$error.required"> *</span>
          </span>
        </label>
        
        <label class="item item-input">
          <span class="input-label col col-50">Einnahme Ende</span>
          <input type="date" ng-model="einnahme.wiederholungsende">  
        </label>
               
        <ion-list>
         <ion-checkbox ng-model="einnahme.vibration">Vibration</ion-checkbox>
        </ion-list>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
