<ion-view view-title="Medi-Einnahme"> 
  
  
  <ion-nav-buttons side="secondary">
      <button class="button button-icon ion-android-add-circle button-clear" ng-click="mediEinnahme_neu()">
      </button>
    </ion-nav-buttons>
  <ion-content>
<div class="list list-inset">
    <div class="item item-divider">
    Aktuelle Einnahmen
  </div>
    <div class="item" ng-repeat="einnahm in mediEinnahmeData" ng-click="mediEinnahme_edit($index)">
      <h2>{{einnahm.data | date : "HH:mm"}} ' - ' {{einnahm.medi}} ' - ' {{einnahm.einnahmemenge + einnahm.einheit}} </h2>
      {{einnahm.repeat}}
    </div>
</div>
  </ion-content>
</ion-view>