<ion-modal-view>
  <ion-header-bar>  
    <div class="buttons">
        <button class="button button-icon ion-reply button-clear" ng-click="closeMediEinnahme_neu()"></button>
    </div> 
    
    <h1 class="title">Medi-Einnahme hinzufügen</h1>  
      
    <div class="buttons">
      <button class="button button-icon ion-trash-b button-clear" ng-click="closeMediEinnahme_neu()"></button>
    </div>
  </ion-header-bar>
  
  <ion-content >
    <form ng-submit="addEinnahme()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label" >Medikament</span>
              <select ng-model="einnahme.medi">
                 <option>Blue</option>
                 <option selected>Green</option>
                 <option>Red</option>
              </select>
        </label>
        
        <label class="item item-input">
          <span class="input-label">Einnahmemenge</span>
               <select ng-model="einnahme.einnahmemenge">
                 <option>1/2</option>
                 <option selected>1</option>
                 <option>2</option>
              </select>
        </label>
        
        <label class="item item-input">
          <span class="input-label">Einheit Menge</span>
              <select ng-model="einnahme.einheit">
                 <option>Tablette</option>
                 <option selected>ml</option>
                 <option>mg</option>
              </select>
        </label>
        
        <label class="item item-input">
          <span class="input-label">Uhrzeit</span>
          <input type="text" ng-model="einnahme.data">
        </label>
        
        <label class="item item-input">
          <span class="input-label">Wiederholung</span>
          <input type="text" ng-model="einnahme.repeat">
        </label>
               
        <ion-list>
         <ion-checkbox ng-model="einnahme.vibration">Vibration</ion-checkbox>
        </ion-list>
        
        <label class="item">
          <button class="button button-block button-positive" type="submit">hinzufügen</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
