<ion-view view-title="Medikit">
    <ion-content class="has-header" padding="true">
        <ion-list class="list list-inset">
            <div class="item item-divider">
                    Hallo {{ name }}
            </div>
            <div class="item">
                    Sie haben <strong>{{count}}</strong> nicht genommene Medikamente.
            </div>
        </ion-list>
        <ion-list  class="list list-inset">
            <div class="item item-divider">
                Nächste Medikamenteneinnahmen
            </div>
            <ion-item class="item" ng-repeat="x in zukunftEinnahmen" >
                <div>{{ x.mediname + ' um ' }}{{x.wanneinnahmen[0].zeitpunkt | date : "HH:mm"}}{{' am '}}{{ x.wanneinnahmen[0].zeitpunkt | date : "dd.MM"}}</div>
            </ion-item>
        </ion-list>        



        
        <button class="button button-block button-positive" ng-click="navigate('/app/historie/{isNichtEingenommen}')">
            Historie anzeigen
        </button>
        <button class="button button-block button-positive" ng-click="navigate('/app/mediEinnahme')">
            Termin anlegen
        </button>
        <button class="button button-full button-positive" ng-click="notification()">
          After 10 sec
        </button> 
     <!--   <button class="button button-block button-positive" ng-click="showPopup()">
           Popup Anzeigen
        </button>
      -->  
    </ion-content>
</ion-view>