<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.medikit571137" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>MediKit</name>
  <description>
        An Ionic Framework and Cordova project.
    </description>
  <author email="ewaldstang@outlook.de">
      Ewald Stang
    </author>
  <author email="sin6332@thi.de">
      Simon Nagl
    </author>
  <author email="josefgrotter@yahoo.de">
      Josef Grotter
    </author>
  <author email="annaleitmann@web.de">
      Anna Leitmann
    </author>
  <author email="sf@inn-it.de">
      Frass Sergej
    </author>
  <author email="sin6332@thi.de">
      Simon Nagl
    </author>
  <author>
    Johann Veith
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="android-minSdkVersion" value="16"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>